<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body>

    {{>navbar}}



    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weather app</p>
                        <h1>My name is Mohd Areeb  <span class="text_clr">Web Developer</span> from Inderprastha Engineering College</h1>
                        <a href="/weather"><button>About Me</button></a>
                    </div>
                    <!-- right side div/  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/self.jpg" height="50px" alt="Personal Image" srcset="" class="img-fluid" >
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer  -->

    {{>footer}}
    
</body>
</html>